<div class="row">
    <div class="col-xs-12">
        <h2>{{selectedCar?.make}}, {{selectedCar?.model}} - {{selectedCar?.year}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{selectedCar?.imageUrl}}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{selectedCar?.description}}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedCar?.model}}</h1>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-success">To Shopping List</button>
        <button class="btn btn-primary" (click)="onEditCar()">Edit</button>
        <button class="btn btn-danger" (click)="onDeleteCar()">Delete</button>
    </div>
</div>
